* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #f5f7fa;
  font-weight: bold;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1a36;
}
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 550px;
  background-color: #162447;
  border-radius: 12px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.37);
  gap: 30px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 470px;
  padding-top: 10px;
}
.stats {
  display: flex;
  gap: 20px;
}
.moves {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 105px;
  height: 39px;
  border-radius: 12px;
  background-color: #2d3a5a;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 131px;
  height: 39px;
  border-radius: 12px;
  background-color: #2d3a5a;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  height: 39px;
  border-radius: 12px;
  background-color: #e74a3b;
}
.the-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 445px;
  height: 445px;
}
.card {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background-color: #1f4068;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 48px;
  height: 48px;
}
